.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

.signin-form-label {
  font-size: 1rem;
}

.signin-button {
  background-color: $primary;
  margin: 1rem;
}

.signin-link {
  font-size: 1rem;
}
